@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  font-size: 16px;
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.2s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* Have important so it overrides any display attributes for elements already with a display */
.content-hidden {
  display: none !important;
}

header {
  text-align: center;
  font-family: var(--ff-primary);
  padding: 1rem;
  background-color: var(--clr-grey-10);
}
.player-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 32%;
  margin-left: auto;
  margin-right: auto;
}
.player-el,
.begin-game-btn {
  font-family: var(--ff-primary);
  font-weight: 700;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-black);
  background: var(--clr-white);
  padding: 0.8rem 2rem;
  border: 2px solid var(--clr-black);
}

.highlight-element {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* You want to hide the player scores when they aren't playing the game. So
if they haven't started the game yet then don't show it */

/* Main section styling */
.main-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.playing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 350px;
  width: 350px;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.grid-square {
  background: #f5f5f5;
  border-radius: 4px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  font-family: var(--ff-primary);
  font-size: 4rem;
  transition: var(--transition);
}
.grid-square:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.square-content {
  transition: var(--transition);
  opacity: 0;
}
.show-square-content {
  opacity: 1;
}

/* Going to happen when a spot is already taken  */
.square-disabled {
  pointer-events: none;
}

/* Game event message section styling */
.event-message-section {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 300px;
	top: 50%; 
	right: 10%;
	padding: 10px 20px;
	transform: translateY(-50%);
	width: 200px;
	height: 80px;
	background-color: #F5F5F5;
	z-index: 999;
	border-radius: 8px;
	font-family: monospace;
	font-size: 12px;
}
.event-message {
	text-align: center;
}

/* Game button styling */
.game-btn-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
.game-btn {
  font-family: var(--ff-primary);
  font-weight: 700;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  border: 2px solid var(--clr-black);
}
.game-btn:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

footer {
  text-align: center;
  background-color: var(--clr-grey-2);
  color: var(--clr-white);
  font-family: var(--ff-primary);
  padding: 1rem 0;
}
